<h1> SIMULACION </h1> <hr>

<a href="/">
    <input type="button" value="Volver">
</a>
<br>

<b style="font-size: 22;"> Terreno: </b>
<strong> Ancho = </strong> <%= @ancho_configurado %>
<strong> Alto = </strong> <%= @alto_configurado %>  <br>

<% @dashDot.vehiculos.each do |vehiculo| %>
  <% if (vehiculo) %>

    <h2>Vehiculo <%= @nro_vehiculo %>:</h2>
    <b style="font-size: 20;"> Posicion Inicial: </b>
    <span><%=@dashDot.obtenerPosicion(vehiculo)%></span> <br>

    <strong> Secuencia: </strong> <%= @dashDot.obtenerSecuencia(vehiculo) %>  <br>

    <% @movimientos = @dashDot.ejecutarSecuencia(vehiculo)  %>

    <% @movimientos.each do |movimiento| %>
      <%= movimiento%> <br>
    <% end %>

    <b style="font-size: 20;"> Posicion Final: </b>
    <span><%=@dashDot.obtenerPosicion(vehiculo)%></span> <br> <br>

    <% @nro_vehiculo +=1  %>
  
  <%else%>
    <p>Vehiculo mal configurado </p>
  <%end%>

<% end %>